@import '../app//app.scss';

@mixin textCatalogUpperCase {
    text-transform: uppercase;
    font-size: 14px;
    font-weight:  700;
}

.wrapperCatalog{ 
    @include widthSite;
    .catalogItems{
        padding: 49px 0;
        display: grid;
        grid-template-columns: repeat(4, 297px);
        
       
        
        .catalogItem{
           
            img{
               
            }
        }

        p{
           @include textCatalogUpperCase;
        }
        & .sale{
            color: #00000099;
        }
        .lowerCase{
            text-transform: lowercase;
            font-size: 14px;
            font-weight:  700;
        }
    }
}