$activTexteColor:#9F0013;
$textColor: #000;

body{
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}


@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin widthSite {
    max-width: 1124px;
    margin: 0 auto;
}


// .wrapperApp{
//     @include widthSite;
// }







