@import '../app/app.scss';

.banner{
    @include widthSite;
    background:  #232222;
    .item_banner{
        display: flex;
        justify-content: space-between;
    }
    img{
        padding-left: 45px;
    }
    h2{
        max-width: 250px;
        color: #FFFFFF;
        margin-right: 472px;
        
    }
    .logo{
        padding-right: 25px;
    }
}